:root{
  --prime: #4eae13;
  --b-shade: #b1b1b1;
  --bg-color: #dddddd;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300i|Sunflower:300');

html{
  box-sizing: border-box;
}
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  font-family: 'Sunflower',Georgia, 'Times New Roman', Times, serif;
}

.container{
  display: grid;
  grid-auto-rows: minmax(20vh, auto);
  grid-gap: .4rem;
}

header{
  border: 1px solid var(--b-shade);
  /* height: auto; */
  background: var(--bg-color);

}

.brand{
  text-align: center;
}

.web-color{
  color:var(--prime);
}

nav{
  /* background: var(--bg-color); */
  text-align: center;
  font-size: 1.2em;
  font-family: 'Roboto',Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-nav a{
  padding: .4em;
  text-decoration: none;
  color: var(--prime);
  display: block;
  border: 2px solid var(--prime);
  background: var(--bg-color); 
  text-transform: uppercase;
}

nav :last-child{
  margin-bottom: 0;
}

#about{
  /* height: auto; */
  background: var(--bg-color);
  line-height: 1.2;
  font-size: 1.2em;
}
.fa-code-branch{
  transform: rotate(45deg);
  background-color: red;
  font-size: .7em;
}

.bg-img{
  position: relative; 
}

.img-credit{
  position: absolute;
  left: 80%;
  font-size: 0.4em;
  top: 95%;
}

.img-txt{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:20%;
  color: var(--prime);
  text-align: center;
  font-size: 2em;
}

img{
  position:relative;
  width:100%;
}


#projects{
  background: var(--bg-color);
  display:grid;
  grid-auto-rows: minmax(1fr,auto);
  grid-gap: 0.2em;
}
#projects img{
  border:1px solid var(--prime);
}

#contact{
  background: linear-gradient(to top right, var(--prime), #0c4e1b
  );
  display: grid;
  grid-auto-rows: minmax(1fr,auto);
}
form{
  align-self: center;
}
button{
width: 100%;
height:8vh;
font-size: 1em;
}

.vc{
  font-size: .6em;
}

 footer{
   /* height: auto; */
   background: var(--prime);
   border: 2px solid var(--b-shade); 
  }
  footer p{
    text-align: center;
    padding-top: 2.3rem;

   }

   /* Media queries */
   /* Smartphones */
   @media (max-width: 599px ){
      .fa-mobile-alt{
        font-size: 4em;
        color: #222121;
    }
      .main-nav a{
         margin-bottom: .2em;
      }
   }
   /* Tablets(portrait and landscape) */
   @media (min-width: 600px) and (max-width: 1099px) {
     .fa-tablet-alt {
       font-size: 4em;
       color: #222121;
     }
    .main-nav{
      width: 90px;
      background-color: #555;
      z-index: 1;
      position: fixed;
      opacity: .6;
    }

    .main-nav a {
      display: block;
      /* Make the links appear below each other instead of side-by-side */
      align-self: center;
      justify-content: center;
    /* Center-align text */
     
    /* Add some padding */
      transition: all 1.3s ease;
    /* Add transition for hover effects */

      }
      .nav-text{
        display: none;
      }

    .main-nav a:hover {
      background-color: var(--shade);
      /* Add a hover color */
    }

    .active {
      background-color: #4CAF50;
      /* Add an active/current color */
    }

  }
   /* Laptop */
   @media(min-width: 1100px){
     .fa-laptop{
       font-size: 4em;
       color: #222121;
     }
   }
                                                                 

  



