:root{
  --prime: #4dad13;
  --b-shade: #b1b1b1;
  --bg-color: #dddddd;
}
html{
  box-sizing: border-box;
}
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  display: grid;
  grid-auto-rows: minmax(20vh, auto);
  grid-gap: .4rem;
}

header{
  border: 1px solid var(--b-shade);
  /* height: auto; */
  background: var(--bg-color);

}

.brand{
  text-align: center;
}
.fa-laptop{
  font-size: 4em;
  color: #222121;
}
.web-color{
  color:var(--prime);
}

nav{
  /* background: var(--bg-color); */
  text-align: center;
  font-size: 1.2em;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-nav a{
  padding: .4em;
  text-decoration: none;
  color: var(--prime);
  display: block;
  border: 2px solid var(--prime);
  background: var(--bg-color);
  margin-bottom: .2em;
  text-transform: uppercase;
}

nav :last-child{
  margin-bottom: 0;
}

#about{
  /* height: auto; */
  background: var(--bg-color);
  line-height: 1.2;
  font-size: 1.2em;
}
.fa-code-branch{
  transform: rotate(45deg);
  background-color: red;
  font-size: .7em;
}

.bg-img{
  position: relative; 
}

.img-credit{
  position: absolute;
  left: 80%;
  font-size: 0.4em;
  top: 95%;
}

.img-txt{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:20%;
  color: var(--prime);
  text-align: center;
  font-size: 2em;
}

img{
  position:relative;
  width:100%;
}


#projects{
  background: var(--bg-color);
  display:grid;
  grid-auto-rows: minmax(1fr,auto);
  grid-gap: 0.2em;
}
#projects img{
  border:1px solid var(--prime);
}

#contact{
  background: linear-gradient(to top right, var(--prime), #0c4e1b);
  
}
form{
  align-self: center;
}

.vc{
  font-size: .6em;
}

 footer{
   /* height: auto; */
   background: var(--prime);
   border: 2px solid var(--b-shade); 
  }
  footer p{
    text-align: center;
    padding-top: 2.3rem;

   }
                                                                 

  



